In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [392]:
def load_and_process(address):
    df1 = (
        pd.read_csv(address)
        .drop(columns = ['school','sex', 'famsup', 'age', 'guardian', 'address', 'famsize', 'famrel',
                         'Dalc', 'Walc', 'freetime', 'G1', 'G2','goout', 'Mjob', 'Fjob', 'reason', 'romantic',
                            'internet', 'higher', 'nursery', 'activities', 'paid', 'absences', 'health', 'traveltime',
                         'studytime', 'failures', 'schoolsup'])
        .rename(columns ={'Unnamed: 0':'StudentNum','G3':'Grade'})
        .dropna()
        .reset_index(drop=True)
        .assign(Pedu=lambda x: (x['Medu']*1/2) + (x['Fedu']*1/2)),
        ) 
    
    return df1